div,h5,ul,p,.col,body{margin:0;padding:0;display: block;font-family: "helvetica neue", Arial;-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}
ul{list-style: none}
a{text-decoration:none;font-size:1.125em;}
body{overflow-x:hidden;;background: url(tiny_grid.png) repeat white;font-size: 100%;}
pre{margin: 1%;}input{width: 70%;font-size:1.188em}
button{cursor:pointer;background-color:white;font-size:1em;color:#000;width:100%;}
h1{text-align:center;font-size:1.4em;;color:white;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5), inset 0 0 5px rgba(252,252,252,0.6);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5), inset 0 0 5px rgba(252,252,252,0.6);width:70%;margin:auto}
/*For scrollbar*/
::-webkit-scrollbar-corner{background:transparent;display:none}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background:#dbdbdb;border-radius:30px}
::-webkit-scrollbar-thumb{border-radius:30px;background:#ababab;-webkit-box-shadow:none}
#header{height:12%;margin:0;}
#header>li{float:left;width: 14.28%;overflow: hidden;text-align: center;height: 45%;background-color: black;border-bottom: 3px solid #FFD339;cursor: pointer;}
li:first-child .banner{padding-top: 5%;color: white;}
.banner{height: 100%;}
.hovered:hover{margin-top: -20%;}
.banner,.banner~div{text-transform: uppercase;font-size: 0.613em;font-weight: bold;color: #F5F5F5;}
.banner~div{padding-top: 3%;}
.buttoner{font-size:1.188em;background-color:white;width:21%;left:27%;position:fixed;z-index:23}
#buttonerrow{position: absolute;margin-top: 14px;width: 84%;left: 13%;}
#addrow{margin-left: 2%;background: url(plus.png) no-repeat white;}
#addrow>div{margin-left: 5%;}
.wrapperbutton{width: 49%;height: 100%;float: left; cursor: pointer;}
.wrapperbutton>div{width: 15%;float: left;font-size: 0.763em;margin-top: 6px;}
#deleterow{display: none;}
#deleterow>div{background: url(minus.png) no-repeat white 92% 13% ;float: right;width: 19%}
.wrapperbutton>div:hover,button:hover,b:hover{color: gray;}
#toolbox{position: fixed;width: 10.7%;z-index:90;height: 41%;left: 7px;top:16%;background-color: black;
  border-radius: 6px;opacity: 0.8;
  -moz-box-shadow: 0px 1px 5px 4px #000000;
  -webkit-box-shadow: 0px 1px 5px 4px #000000;
  -o-box-shadow: 0px 1px 5px 4px #000000;
  box-shadow: 0px 1px 5px 4px #000000;  
}
#toolbox>b{color: white;width: 100%;font-weight:normal;font-size: 1.3em;padding-bottom:10px;display: block;text-align: center;}
#dynamicwrapper{width:86.5%;margin-left: 12.3%;background-color: white;min-height: 500px;height: auto;
  -moz-box-shadow: 0px 1px 10px 5px #000000;
  -webkit-box-shadow: 0px 1px 10px 5px #000000;
  -o-box-shadow: 0px 1px 10px 5px #000000;
  box-shadow: 0px 1px 10px 5px #000000;

}
#dynamic{width: 98%;padding-left: 1%;padding-top: 1%;}
.fixedblockoptions{display: none;}
.theblock{background:url(plus.png) no-repeat white;font-size:1.063em;color:#FFF;width:2.6%;right:13px;height:37.2%;position: absolute;margin-right: -1%;}
.addblock{height: 100%;background:transparent;line-height: 1;}
.remove,.right,.left,.addsubrow{height:12%;cursor:pointer;background: url(cross.png) no-repeat;margin-bottom: 4%;margin-left:4%; clear: both;border-radius: 10px;}
#toolbox>div:hover{-moz-box-shadow: 0px 1px 4px 3px dimgray;
  -webkit-box-shadow: 0px 1px 4px 3px dimgray;
  -o-box-shadow: 0px 1px 4px 3px dimgray;
  box-shadow: 0px 1px 4px 3px dimgray;}
#toolbox p{color: rgb(213, 213, 213);
margin-left: 14%;
font-size: 0.875em;
width: 76%;text-align: center;}
#toolbox p:hover{color: white;}
.right{background: url(right.png) no-repeat;}
.left{background: url(left.png) no-repeat;display: none;}
.addsubrow{background: url(subrow.png) no-repeat;}
#thecode{top:7%;left:79%;}
#modalclose{
  cursor: pointer;
  width: 60px;
  height: 60px;
  position:absolute;
  right: 0;top: 0;
  background: url(modalclose.png) no-repeat;      
  }
#generatedcode{display:none;position: absolute;z-index:100;top: 0px;left: 0px;width:100%;font-size: 1.125em;background-color: rgba(0,0,0,0.7);}
.dynamicrow{width:99.9%;height:200px;
          -moz-box-shadow:2px 0px 4px 4px blue;
  -webkit-box-shadow:2px 0px 4px 4px blue;
  -o-box-shadow:2px 0px 4px 4px blue;
  box-shadow:2px 0px 4px 4px blue;
          }
.dynamicrow p{color:white;left: 45%;position: absolute;bottom: 2%;background-color: black;z-index:9;text-align: center;font-size: 0.98em;opacity: 0.7;}
.dynamicblock{width:100%;height:92.5%;cursor: pointer;margin-top: 0.5%;float: left;
  -moz-box-shadow: inset 2px 0px 4px 5px green;
  -webkit-box-shadow: inset 2px 0px 4px 5px green;
  -o-box-shadow: inset 2px 0px 4px 5px green;
  box-shadow: inset 2px 0px 4px 5px green;

}
.dynamicblock:hover{-moz-box-shadow: inset 2px 0px 0px 17px lightblue;
  -webkit-box-shadow: inset 2px 0px 0px 17px lightblue;
  -o-box-shadow: inset 2px 0px 0px 17px lightblue;
  box-shadow: inset 2px 0px 0px 17px lightblue;}
.addsubcol{z-index:43;position: absolute;height: 24px;width: 24px;right:3px;top:3px;background: url(plus.png) no-repeat white; }
.addsubcol:hover{background-color: lightgray;}
.subrow{height: 100%;width: 98%;margin-left: 1%;
-moz-box-shadow: inset 2px 0px 4px 8px yellow;
  -webkit-box-shadow: inset 2px 0px 4px 8px yellow;
  -o-box-shadow: inset 2px 0px 4px 8px yellow;
  box-shadow: inset 2px 0px 4px 8px yellow;}
.subcolwrapper{width: 97%;height: 89%;padding-left: 2%;padding-top: 1%;position: relative;}
.subcol{z-index:3;width: 100%;height: 93%;margin-top:1%;float: left;-moz-box-shadow: inset 2px 0px 2px 5px red;
  -webkit-box-shadow: inset 2px 0px 2px 5px red;
  -o-box-shadow: inset 2px 0px 2px 5px red;
  box-shadow: inset 2px 0px 2px 5px red;}
.blockinfo{color: white;background-color: #1c8625;width: 100%;font-size: 16px;text-align: center;line-height: 1.4;cursor: default;padding-bottom: 3%;
margin-bottom: 15%;}
.heightrow{margin-left:31%;font-size:21px;color:#696969}
#header > #codebutton{z-index: 50;background-color: rgb(74, 51, 170);}
.later{
margin-left: 3%;
  width: 47%;
float: left;
height: 300px;
color: white;
}
#understand{background: url(learn.png) no-repeat black 100%;}
#jquerin{background: url(logo.png) no-repeat black 45%;}
/* !@ For Dynamic Tours*/
#tourControls{top: 10px;
right: 10px;z-index: 200;}
#tourtip{z-index: 200;}
/*For Resizable Rows*/
.ui-resizable{position:relative}
.ui-widget-content{border:1px solid #AAA;color:#222}
.ui-widget-header{border:1px solid #AAA;background:#CCC url() 50% 50% repeat-x;color:#222;font-weight:700}
.ui-widget-content .ui-icon{background-image:url(resize.png)}
.ui-resizable-se{cursor:se-resize;width:40px;height:40px;right:1px;bottom:0}
.ui-resizable-handle{cursor:s-resize;width:100%;height:5px;position:absolute;font-size:.1px;display:block}
.ui-resizable-w{cursor:w-resize;width:40px;height:40px;height: 100%;width: 5px;}
.ui-widget-content.ui-resizable
.ui-widget-content{color:#222}
/*For Syntax Highlight*/
/*---------- matlab Styles ---------*/
.sh_matlab{background:none; padding:0; margin:0; border:0 none;}.sh_matlab .sh_sourceCode{background-color:#fff;color:#000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_keyword{color:#00f;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_type{color:#000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_string{color:#800000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_regexp{color:#800000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_specialchar{color:#000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_number{color:#000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_function{color:#000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_url{color:#800000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_date{color:#00f;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_time{color:#00f;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_file{color:#00f;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_ip{color:#800000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_name{color:#800000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_variable{color:#00f;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_oldfile{color:#000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_newfile{color:#800000;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_difflines{color:#00f;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_selector{color:#00f;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_property{color:#00f;font-weight:normal;font-style:normal;}.sh_matlab .sh_sourceCode .sh_value{color:#800000;font-weight:normal;font-style:normal;}

/*-------- Snippet Base Styles ----------*/
.snippet-wrap {position:relative;}
*:first-child+html .snippet-wrap {display:inline-block;}
* html .snippet-wrap {display:inline-block;}
.snippet-reveal{text-decoration:underline;}
.snippet-wrap .snippet-menu, .snippet-wrap .snippet-hide {position:absolute; top:10px; right:15px; font-size:.9em;z-index:1;background-color:transparent;}
.snippet-wrap .snippet-hide {top:auto; bottom:10px;}
*:first-child+html .snippet-wrap .snippet-hide {bottom:25px;}
* html .snippet-wrap .snippet-hide {bottom:25px;}
.snippet-wrap .snippet-menu pre, .snippet-wrap .snippet-hide pre {background-color:transparent; margin:0; padding:0;}
.snippet-wrap .snippet-menu a, .snippet-wrap .snippet-hide a {padding:0 5px; text-decoration:underline;}
.snippet-wrap pre.sh_sourceCode{padding:1em;line-height:1.8em;overflow:auto;position:relative;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
box-shadow: 2px 2px 5px #000;
-moz-box-shadow: 2px 2px 5px #000;
-webkit-box-shadow: 2px 2px 5px #000;}
.snippet-wrap pre.snippet-textonly {padding:2em;}
*:first-child+html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
* html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
.snippet-reveal pre.sh_sourceCode {padding:.5em 1em; text-align:right;}
.snippet-wrap .snippet-num li{padding-left:1.5em;}
.snippet-wrap .snippet-no-num{list-style:none; padding:.6em 1em; margin:0;}
.snippet-wrap .snippet-no-num li {list-style:none; padding-left:0;}
.snippet-wrap .snippet-num {margin:1em 0 1em 1em; padding-left:3em;}
.snippet-wrap .snippet-num li {list-style:decimal-leading-zero outside none;}
.snippet-wrap .snippet-no-num li.box {padding:0 6px; margin-left:-6px;}
.snippet-wrap .snippet-num li.box {border:1px solid; list-style-position:inside; margin-left:-3em; padding-left:6px;}
*:first-child+html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
* html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
.snippet-wrap li.box-top {border-width:1px 1px 0 !important;}
.snippet-wrap li.box-bot {border-width:0 1px 1px !important;}
.snippet-wrap li.box-mid {border-width:0 1px !important;}
.snippet-wrap .snippet-num li .box-sp {width:18px; display:inline-block;}
*:first-child+html .snippet-wrap .snippet-num li .box-sp {width:27px;}
* html .snippet-wrap .snippet-num li .box-sp {width:27px;}
.snippet-wrap .snippet-no-num li.box {border:1px solid;}
.snippet-wrap .snippet-no-num li .box-sp {display:none;}

/*BRIGHT for the CSS COde*/
/*---------- bright Styles ---------*/
.sh_bright{background:none; padding:0; margin:0; border:0 none;}.sh_bright .sh_sourceCode{background-color:#fff;color:#401e7a;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_keyword{color:#ff3030;font-weight:bold;font-style:normal;}.sh_bright .sh_sourceCode .sh_type{color:#f7b92c;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_string{color:#1861a7;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_regexp{color:#1861a7;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_specialchar{color:#1861a7;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_comment{color:#38ad24;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_number{color:#32ba06;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_preproc{color:#5374b0;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_symbol{color:#3030ee;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_function{color:#d11ced;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_cbracket{color:#3030ee;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_url{color:#1861a7;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_date{color:#ff3030;font-weight:bold;font-style:normal;}.sh_bright .sh_sourceCode .sh_time{color:#ff3030;font-weight:bold;font-style:normal;}.sh_bright .sh_sourceCode .sh_file{color:#ff3030;font-weight:bold;font-style:normal;}.sh_bright .sh_sourceCode .sh_ip{color:#1861a7;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_name{color:#1861a7;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_variable{color:#00f;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_oldfile{color:#1861a7;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_newfile{color:#1861a7;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_difflines{color:#ff3030;font-weight:bold;font-style:normal;}.sh_bright .sh_sourceCode .sh_selector{color:#00f;font-weight:normal;font-style:normal;}.sh_bright .sh_sourceCode .sh_property{color:#ff3030;font-weight:bold;font-style:normal;}.sh_bright .sh_sourceCode .sh_value{color:#1861a7;font-weight:normal;font-style:normal;}

/*-------- Snippet Base Styles ----------*/
.snippet-wrap {position:relative;}
*:first-child+html .snippet-wrap {display:inline-block;}
* html .snippet-wrap {display:inline-block;}
.snippet-reveal{text-decoration:underline;}
.snippet-wrap .snippet-menu, .snippet-wrap .snippet-hide {position:absolute; top:10px; right:15px; font-size:.9em;z-index:1;background-color:transparent;}
.snippet-wrap .snippet-hide {top:auto; bottom:10px;}
*:first-child+html .snippet-wrap .snippet-hide {bottom:25px;}
* html .snippet-wrap .snippet-hide {bottom:25px;}
.snippet-wrap .snippet-menu pre, .snippet-wrap .snippet-hide pre {background-color:transparent; margin:0; padding:0;}
.snippet-wrap .snippet-menu a, .snippet-wrap .snippet-hide a {padding:0 5px; text-decoration:underline;}
.snippet-wrap pre.sh_sourceCode{padding:1em;line-height:1.8em;overflow:auto;position:relative;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
box-shadow: 2px 2px 5px #000;
-moz-box-shadow: 2px 2px 5px #000;
-webkit-box-shadow: 2px 2px 5px #000;}
.snippet-wrap pre.snippet-textonly {padding:2em;}
*:first-child+html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
* html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
.snippet-reveal pre.sh_sourceCode {padding:.5em 1em; text-align:right;}
.snippet-wrap .snippet-num li{padding-left:1.5em;}
.snippet-wrap .snippet-no-num{list-style:none; padding:.6em 1em; margin:0;}
.snippet-wrap .snippet-no-num li {list-style:none; padding-left:0;}
.snippet-wrap .snippet-num {margin:1em 0 1em 1em; padding-left:3em;}
.snippet-wrap .snippet-num li {list-style:decimal-leading-zero outside none;}
.snippet-wrap .snippet-no-num li.box {padding:0 6px; margin-left:-6px;}
.snippet-wrap .snippet-num li.box {border:1px solid; list-style-position:inside; margin-left:-3em; padding-left:6px;}
*:first-child+html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
* html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
.snippet-wrap li.box-top {border-width:1px 1px 0 !important;}
.snippet-wrap li.box-bot {border-width:0 1px 1px !important;}
.snippet-wrap li.box-mid {border-width:0 1px !important;}
.snippet-wrap .snippet-num li .box-sp {width:18px; display:inline-block;}
*:first-child+html .snippet-wrap .snippet-num li .box-sp {width:27px;}
* html .snippet-wrap .snippet-num li .box-sp {width:27px;}
.snippet-wrap .snippet-no-num li.box {border:1px solid;}
.snippet-wrap .snippet-no-num li .box-sp {display:none;}